.cb-row {
	display: block;
}

.custom-block-component-group {
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 0;

	&__label {
		display: inline-block;
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 13px;
		color: #2a3e51;
	}

	&__comment {
		color: rgb(102, 100, 100);
	}
}

.custom-block-panel {
	border: 1px solid #e8eaeb;
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
}

.custom-block-layout {
	position: relative;
	padding-top: 30px;
	margin-top: 15px;

	&__label {
		position: absolute;
		top: 0;
		left: -25px;
		z-index: 2;
		background-color: #e6e2e2;
		padding: 2px 7px;
		user-select: none;
	}

	&__form {

	}
}

.block-label {
	border-bottom: 1px solid #eee;
	cursor: pointer;
	margin-bottom: 20px;
	margin-top: 20px;

	&__label {
		background-color: #ccc;
		padding: 2px;
	}
}

.cb-spaces {
	* + * {
		margin-left: 10px;
	}
}

.my-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);;
	display: flex;
	z-index: 20000000;
	align-items: center;
	justify-content: center;

	&__window {
		width: 90%;
		height: 90%;
		background-color: rgba( #fff, 0.6 );
		backdrop-filter: blur(5px);
		padding: 20px;
		border-radius: 20px;
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
	}

	&__window-content {
		flex-grow: 1;
		overflow-y: scroll;
	}

	&__toolbar {
		border-top: 1px solid #ccc;
		padding: 10px;
	}
}